* {
    padding: 0;
    margin: 0;
    
}

ul{
    list-style: none;
}

.banner-grid{
    display:flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}

.row{
    display: flex;
    
    width: 50%;
    flex-direction: column;
}

.banner{
    background-color: grey;
    text-align: center;
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding-top: 42.25%;
    padding-bottom: 42.25%;
}

.banner a{ 
    justify-content: center;
}

.center{
    text-align: center;
}

.footer-menu{
    display:flex;
    flex-direction: column;
    background-color: #202020;
    color: rgb(243, 243, 243);
}

.dropdown{
    width:100%;
}

.dropdown ul{
    display: none;
}

.contact{
    display: flex;
    justify-content: center;
}

.desktop{
    display: none;
}

@media screen and (min-width: 800px) {
    .row{
        flex-direction: row;
        width: 100%;

    }
    .banner-grid{
        flex-direction: column;
    }

    .banner{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .footer-menu{
        flex-direction:row;
    }
    .dropdown{
        width:25%;
    }

    .dropdown ul{
        display: initial;
    }

    .desktop{
        display: flex;
    }

}
